# This definition stops the following lines choking if HOME isn't defined.
HOME                              = .
RANDFILE                          = $ENV::HOME/.rnd

[policy_match]
countryName                       = match
stateOrProvinceName               = optional
localityName                      = optional
organizationName                  = match
organizationalUnitName            = optional
commonName                        = supplied
emailAddress                      = optional
                                  # optional = le champs est optionnel
                                  # match    = le champs doit correspondre avec le certificat fils
                                  # supplied = le champs doit obligatoirement être fourni
 
[ca]
default_ca                        = ROOT                    # The default ca section
 
[ROOT]
dir                               = /etc/ssl/root           # Where everything is kept
certs                             = $dir/certs              # Where the issued certs are kept
new_certs_dir                     = $dir/newcerts           # default place for new certs.
database                          = $dir/index.db           # database index file.
certificate                       = $dir/ca.pem             # The CA certificate
serial                            = $dir/serial             # The current serial number
private_key                       = $dir/private/ca.key     # The private key
default_days                      = 3650                    # how long to certify for
default_md                        = sha256                  # which md to use.
preserve                          = no                      # keep passed DN ordering
policy                            = policy_match            # voir le champs ci dessous
 
[ROOT_CA]
nsComment                         = "ROOT"
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid,issuer:always
basicConstraints                  = critical,CA:TRUE,pathlen:1
keyUsage                          = keyCertSign, cRLSign
 
[req]
default_bits                      = 1024
distinguished_name                = req_distinguished_name
 
[req_distinguished_name]
countryName                       = Country Name (2 letter code)
countryName_min                   = 2
countryName_max                   = 2
stateOrProvinceName               = State or Province Name (full name)
localityName                      = Locality Name (eg, city)
organizationName                  = Organization Name (eg, company)
organizationalUnitName            = Organizational Unit Name (eg, section)
commonName                        = Common Name (eg, YOUR name)
commonName_max                    = 64
emailAddress                      = Email Address
emailAddress_max                  = 40
# Ci-dessous, il est possible de définir des valeurs par défaut aux labels.
stateOrProvinceName_default       = Ile de France
# commonName_default              =
# organizationalUnitName_default  =
localityName_default              = Paris
organizationName_default          = Jbsky
countryName_default               = FR
emailAddress_default              = toto@gamel.net

[policy_anything]
countryName                     = optional
stateOrProvinceName             = optional
localityName                    = optional
organizationName                = optional
organizationalUnitName          = optional
commonName                      = supplied
emailAddress                    = optional
 
[IPSEC]
dir                             = /etc/ssl/ipsec
certs                           = $dir/certs
new_certs_dir                   = $dir/newcerts
database                        = $dir/index.db
certificate                     = $dir/ca.pem
serial                          = $dir/serial
private_key                     = $dir/private/ca.key
default_days                    = 365
default_md                      = sha256
preserve                        = no
policy                          = policy_anything
 
[IPSEC_CA]
nsComment                       = "IPSEC"
basicConstraints                = critical,CA:TRUE,pathlen:0
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
keyUsage                        = keyCertSign, cRLSign
nsCertType                      = sslCA

[ IPSEC_CA ]
nsComment                       = "IPSEC"
basicConstraints                = critical,CA:TRUE,pathlen:0
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
keyUsage                        = keyCertSign, cRLSign
nsCertType                      = sslCA

[HOTE]
nsComment                       = "Certificat Hote IPSec"
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
subjectAltName                  = @alt_names
basicConstraints                = critical,CA:FALSE
keyUsage                        = digitalSignature, nonRepudiation, keyEncipherment
nsCertType                      = server
extendedKeyUsage                = serverAuth
 
[alt_names]
DNS.1=172.20.10.4

[ACCES]
nsComment                       = "Certificat Access IPSec"
subjectKeyIdentifier            = hash
authorityKeyIdentifier          = keyid,issuer:always
issuerAltName                   = issuer:copy
basicConstraints                = critical,CA:FALSE
keyUsage                        = digitalSignature, nonRepudiation, keyEncipherment
nsCertType                      = server
extendedKeyUsage                = clientAuth
