HOME                              = .
RANDFILE                          = $ENV::HOME/.rnd


[ca]
default_ca                        = ROOT                    # The default ca section
 
[ROOT]
dir                               = /etc/ssl/root           # Where everything is kept
certs                             = $dir/certs              # Where the issued certs are kept
new_certs_dir                     = $dir/newcerts           # default place for new certs.
database                          = $dir/index.db           # database index file.
certificate                       = $dir/certs/ca.pem       # The CA certificate
serial                            = $dir/serial             # The current serial number
private_key                       = $dir/private/ca.key     # The private key
default_days                      = 3650                    # how long to certify for
default_md                        = sha256                  # which md to use.
preserve                          = no                      # keep passed DN ordering
policy                            = policy_match            # voir le champs ci dessous
 
[ROOT_CA]
nsComment                         = "ROOT_CA"
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid,issuer:always
basicConstraints                  = critical,CA:TRUE,pathlen:1
keyUsage 						  = critical, digitalSignature, cRLSign, keyCertSign

[ IPSEC_CA ]
subjectKeyIdentifier              = hash
authorityKeyIdentifier            = keyid:always,issuer
basicConstraints                  = critical, CA:true, pathlen:0
keyUsage                          = critical, digitalSignature, cRLSign, keyCertSign
nsCertType                        = sslCA

[req]
default_bits                      = 2048
distinguished_name                = req_distinguished_name
string_mask        				  = utf8only
default_md         	  			  = sha256                  # SHA-2
x509_extensions    				  = ROOT_CA

[req_distinguished_name]
countryName                       = Country Name (2 letter code)
countryName_min                   = 2
countryName_max                   = 2
stateOrProvinceName               = State or Province Name (full name)
localityName                      = Locality Name (eg, city)
organizationName                  = Organization Name (eg, company)
organizationalUnitName            = Organizational Unit Name (eg, section)
commonName                        = Common Name (eg, YOUR name)
commonName_max                    = 64
emailAddress                      = Email Address
emailAddress_max                  = 40
stateOrProvinceName_default       = NullPart
commonName_default                = Toto Certification Authority
organizationalUnitName_default    = Secure Digital Certificate Signing
localityName_default              = Paris
organizationName_default          = Toto
countryName_default               = FR
emailAddress_default              = toto@gamel.net


[policy_match]
countryName                       = match
stateOrProvinceName               = match
localityName                      = match
organizationName                  = match
organizationalUnitName            = optional
commonName                        = supplied
emailAddress                      = optional
